{#
/**
 * @file
 * Default theme implementation to present an example content entity.
 *
 * This template is used when viewing a registered example content's page,
 * e.g., /admin/content/example-content)/123. 123 being the example content's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_example_content()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
