.layout--drupal-code-generator-example {
  outline: solid 1px orange;
  display: flex;
  padding: 10px;
}

.layout--drupal-code-generator-example > .layout__region {
  outline: solid 1px orange;
  margin: 10px;
  padding: 20px;
}

.layout--drupal-code-generator-example .layout__region--main {
  width: 66%;
}

.layout--drupal-code-generator-example .layout__region--sidebar {
  width: 33%;
}

@media all and (max-width: 850px) {
  .layout--drupal-code-generator-example {
    flex-direction: column;
  }
  .layout--drupal-code-generator-example > .layout__region {
    width: auto;
  }
}
