{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_drupal_code_generator_example()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {{ foo }}
</div>
